---
layout: home
title: Home
permalink: /
caption: I like computers.
about_me: |
   My name is Leroy Wan and welcome to my website! I am a software developer currently studying rocks at Queen's University in Kingston Ontario. I like wrting code, collecting vintage bicycles, making music, and watching how-to videos. As a person who love making things, I am always working on side projects that will be posted on this website!
what_do: |
   As a student without much responsibility, I try to use my free time to learn as much as I can. I am currently reading a lot of materials to improve my understanding of computer science. My goal is to be have to ability to make anything imaginable using elegant code. In my spare time, I am a bike mechanic that restores and sells vintage bicycles that I have collected.
---

<div class="about-page">
	<div class="img-container">
		<img src="../assets/imgs/glasses.svg"/>
		<h1>About Me</h1>
    </div>
    <div class="about-me">
		<p> {{ page.about_me }}</p>
    </div>
</div>
<div class="what-do-page">
	<div class="img-container">
		<img class="gear" src="../assets/imgs/gear.svg"/>
		<h1>What I Do</h1>
    </div>
    <div class="what-do">
		<p>{{ page.what_do }}</p>
    </div>
</div>
<div class="featured-work">
	<div class="heading"><h1>Featured Work</h1></div>
	<div class="projects">
	{% for project in site.categories.project | sort: "featured" %}  
		{% if project.featured %}
		<div class="project">
			<h2>
				<a class="title" href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>
			</h2>
			<a class="img-container" href="{{ site.baseurl }}{{ project.url }}">
				<img src="{{ project.thumbnail }}"/>
			</a>
			<div class="info">
				<h3>Category: <span>{{ project.type }}</span></h3>
				{% if project.pageurl %}
					<h3><a target="_blank" href="{{ project.pageurl }}">Visit Project</a></h3>
				{% else %}
					<h3><a target="_blank" href="{{ project.github }}">Visit Github</a></h3>
				{% endif %}
			</div>
		</div>
		{% endif %}
	{% endfor %}
	</div>

	
</div>
<div class="recent-post">
	<div class="heading"><h1>Recent Posts</h1></div>
	<div class="blog-content">
	{% for post in site.categories.blog limit:2 %}
	    <div class="blog-post">
	        <header>
	            <h2><a class="blog-title" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
	             <div class="date"><img class="calendar-icon" src="{{ site.baseurl }}/assets/imgs/calendar.svg"></img><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></div>
	        </header>
		
			<div class="entry">{{ post.content | strip_html | truncate:450 }}<a href="{{site.baseurl}}{{post.url}}"> read more</a></div>
	    </div>

	{% endfor %}
	</div>
</div>
