---
layout: home
title: Home
permalink: /
---

<div class="about-page">
	<div class="img-container">
		<img src="../assets/imgs/glasses.svg"/>
		<h1>About Me</h1>
    </div>
    <div class="about-me">
		<p>
		  	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
		</p>
    </div>
</div>
<div class="what-do-page">
	<div class="img-container">
		<img class="gear" src="../assets/imgs/gear.svg"/>
		<h1>What I Do</h1>
    </div>
    <div class="what-do">
		<p>
		  	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
		</p>
    </div>
</div>
<div class="featured-work">
	<div class="heading"><h1>Featured Work</h1></div>
	<div class="projects">
	{% for project in site.categories.project | sort: "featured" %}  
		{% if project.featured %}
		<a><div class="project">
			<h2><a class="title" href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></h2>
			<a class="img-container" href="{{ site.baseurl }}{{ project.url }}"><img src="{{ project.thumbnail }}"/></a>
			<div class="info">
				<h3>Category: <span>{{ project.type }}</span></h3>
				{% if project.pageurl %}
					<h3><a target="_blank" href="{{ project.pageurl }}">Visit Project</a></h3>
				{% else %}
					<h3><a target="_blank" href="{{ project.github }}">Visit Github</a></h3>
				{% endif %}
			</div>
		</div>
		{% endif %}
	{% endfor %}
	</div>

	
</div>
<div class="recent-post">
	<div class="heading"><h1>Recent Posts</h1></div>
	<div class="blog-content">
	{% for post in site.categories.blog limit:2 %}
	    <div class="blog-post">
	        <header>
	            <h2><a class="blog-title" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
	             <div class="date"><img class="calendar-icon" src="{{ site.baseurl }}/assets/imgs/calendar.svg"></img><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></div>
	        </header>
		
			<div class="entry">{{ post.content | strip_html | truncate:450 }}<a href="{{site.baseurl}}{{post.url}}"> read more</a></div>
	    </div>

	{% endfor %}
	</div>
</div>
