<header class="main-header scrolling-header">

  <div class="navigation-container">
    <a id="site-logo" href="{{ site.baseurl }}/">
      <!-- <img src="{{ site.baseurl }}/assets/imgs/initialLogo.svg"/> -->
    </a>
    <nav class="main-navigation scrolling-header slide-in">
        <div class="link-container">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <div class="{{ my_page.title }}-nav-container nav-container">
            <div class='page-icon'></div>
            <a>{{ my_page.title }}</a>
            <a href="{{ my_page.url | prepend: site.baseurl }}" class="redirect"></a>
          </div>
          {% endif %}
        {% endfor %}
        </div>
    </nav>
  </div>
  <div id="menu-button">
    <div id="top-line">
      <div id="top-line1"></div>
      <div id="top-line2"></div>
    </div>
    <div id="mid-line"></div>
    <div id="btm-line"></div>
  </div>

</header>
