/************************************************************

================== MAIN NAVIGATION ==========================

*************************************************************/


body {
	padding-top: $header-height;
	margin: 0;
	height: 1000px;
	font-family: $font1;
	// background: rgb(255,252,233);
	overflow-x: hidden;

	h1 {
		font-family: "Josefin Slab";
	}
}

// body {
// 	h1, h2, h3, h4, h5, h6, a, p{
// 		font-family: arial;
// 	}
// }

header.main-header {
	z-index: 1000;
	display: block;
	width: 100%;
	height: $header-height;
	position: fixed;
	top: 0;
	transition: top 0.2s ease-in-out, background 0.2s ease-in-out;

	#site-logo img {
		position: fixed;
		height: $header-height - 10px;
		top: 5px;
		left: 10px;
		height: 60px;
		width: 60px;
	}

}


$menu-width: 40px;
$menu-line-height: 8px;
#menu-button {
	z-index: 20000;
	display: inline-block;
	position: fixed;
	cursor: pointer;
	top: 14px;
	right: 14px;
	transition: transform 0.1s ease-in-out;


	div {
		height: $menu-line-height;
		width: $menu-width;
		background: $color3;
		margin-top: $menu-line-height;
		margin-bottom: $menu-line-height;
		border-radius: 15%;
	}


	#top-line {
		margin-top: 0;
		transition: height 0.2s ease-out, background 0.2s ease-in;

		#top-line1 {
			position: absolute;
			height: 0;
			width: $menu-width;
			background: white;
			margin: 0;
			transition: transform 0.2s ease-in-out, height 0.2s ease-in-out;
		}

		#top-line2 {
			position: absolute;
			height: 0;
			width: $menu-width;
			background: white;
			margin: 0;
			transition: transform 0.2s ease-in-out, height 0.2s ease-in-out;
		}
	}

	#mid-line {
		transition: height 0.2s ease-in-out, background 0.2s ease-in;
		
	}

	#btm-line {
		transition: height 0.2s ease-in-out, background 0.2s ease-in;
		margin-bottom: 0;
		
	}
}

.menu-active {

	#menu-button {
		#top-line {
			border:2px solid white;
		}
	}
	
	#menu-button div{
		background: black;
	}

	.slide-in {
		transition: left 0.5s cubic-bezier(1,0.55,0.55,1);
	}

	.main-navigation {
		top: 0;
	}

}


.menu-inactive {
	
}



#menu-button:hover #top-line {

	div#top-line1, div#top-line2{
		background: lightblue;
	}

}


.main-navigation {
	position: fixed;
	transition: top 0.2s ease-in-out;
	display: block;
	height: 100%;
	width: 100%;
	z-index: 100;
	background: $color5;
	left: 100%;
	font-family: "Josefin Sans";
	text-align: center;

}

.menu-active .main-navigation {
	left: 0;
	top: 0;
}

header .main-navigation {

	.link-container{

		display: block;
		max-width: 300px;
		text-align: center;
		margin: 0 auto;
		height: 100%;
		transform: translateY(25%);

		.page-icon {
			position: absolute;
			height: 50px;
			width: 50px;
			background-size: contain;
			display: inline-block;
			top: 40%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.nav-container {
			position: relative;
			height: 120px;
			width: 120px;
			margin: 5px;
			display: inline-block;
			border: 4px solid white;
		}

		.nav-container:hover {
			cursor: pointer;
			background: $color3;
		}

		a {
			position: absolute;
			display: block;
			width: 100%;
			color: white;
			text-decoration: none;
			bottom: 10%;
		}

		a.redirect {
			line-height: $header-height;
			width: 100%;
			height: 100%;
		}

		.Home-nav-container{
			.page-icon {
				background-image: url("../assets/icons/home-icon.svg");
			}
		}	

		.Work-nav-container{
			.page-icon {
				background-image: url("../assets/icons/work-icon.svg");
			}
		}

		.Contact-nav-container{
			.page-icon {
				background-image: url("../assets/icons/contact-icon.svg");
			}
		}

		.Blog-nav-container{
			.page-icon {
				background-image: url("../assets/icons/blog-icon.svg");
			}
		}



	}


}

/************************************************************

==================   FRONT PAGE      ==========================

*************************************************************/

@keyframes load-caption-mobile {
	0% {
		opacity: 0;
		top: 65%;
	}

	50% {
		opacity: 0;
		top: 65%;
	}

	100% {
		opacity: 1;
		top: 55%;
	}
}

@keyframes load-caption {
	0% {
		opacity: 0;
		top: 75%;
	}

	50% {
		opacity: 0;
		top: 75%;
	}

	100% {
		opacity: 1;
		top: 65%;
	}
}

@keyframes load-color {
	0% {
		background: black;
		
	}

	100% {
		background: #2b4c6e;
		
	}
}

@keyframes diagonal-drop {
	0% {
		left: -100vw;
		top: -100%;
	}

	100% {
		left: 0;
		top: 0;
	}
}

#home-background, .pixel-overlay, #home-background-overlay {
	height: 600px;
}

#home-background {
	background: url('../assets/imgs/me.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 80% 50%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.pixel-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAIYYWKampr/r1+/DuaDCZAATBIkgVslurEAVUoMBlzzw4sAAAAASUVORK5CYII=);
}

#home-background-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(40, 130, 130, 0.8);
	opacity: 0.6;
	// animation: load-color 3s ease-in, diagonal-drop 1s ease-in-out;
}

.front-page {
	#name-animation {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100px;
	}

	.caption {
		position: absolute;
		text-align: center;
	    display: block;
	    width: 100%;
	    top: 55%;
	    left: -10px;
		font-weight: 800;
		animation: load-caption-mobile 3s ease-in-out;
		color: white;
	}

	.svg-container {
		
	}

	#svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
		width: 100%;
	}


}


.Home-page {
	width: 100%;
	height: 1500px;

	.content-container {
		position: absolute;
		top: 600px;
		left: 0;
		width: 100%;
	}

	.content {
		width: 100%;
	}

	.about-page, .what-do-page {
		color: white;
		display: flex;
		flex-direction: column;
	
		

		div.about-me, div.what-do {
			width: 100%;
			display: flex;
			align-items: center;
			min-height: 300px;
			color: black;


			p {
				font-family: 'Josefin Sans';
				font-weight: 300;
				margin-left: 15px;
				margin-right: 15px;
			}
		}

		.img-container {
			flex: 1;
			display: flex;
			height: 100px;
			width: 100%;
			transition: background 0.5s ease-in-out;
			background: $color5;
			

			img {
				height: 100px;
				flex: 1;
			}

			h1 {
				font-family: 'Josefin Slab';
				margin: 0;
				color: white;
				line-height: 100px;
				flex: 2;
			}
		}

		h1 {
			margin: 20px;
			text-align: center;
		}				
	}

	.what-do-page {
		.img-container {
			img {
				order: 2;
			}
		}
	}

	.featured-work, .recent-post {
		margin-top: -1px;

		.heading {
			height: 100px;
			background: $color4;
			color: white;
			text-align: center;

			h1 {
				margin: 0;
				line-height: 100px;
			}
		}

		.blog-content {
			padding: 15px;

			header {
				margin-top: 20px;
				margin-bottom: 20px;
			}

			.blog-title {
				font-size: 1.4em;
				color: $color4;
				text-decoration: none;
			}

			.blog-post {
				padding-top: 20px;
				padding-bottom: 20px;

				.entry {
					border-left: 2px solid $color4;
					padding-left: 10px;

					a {
						text-decoration: none;
						color: $color4;
					}
				}
			}	

		}

	}

}







/************************************************************

================== PORTFOLIO       ==========================

*************************************************************/

.blur {
	-webkit-filter: blur(3px);
	filter: blur(5px);
}

.green {
	background: rgba(40, 190, 40, 0.8);
}

.red {
	background: rgba(255, 40, 40, 0.8);
}

.blue {
	background: rgba(40, 40, 255, 0.8);
}

.orange {

}
	
.portfolio {

	.intro {
		margin-bottom: 50px;
	}

	.photo-gallery {
		display: block;
		width: 100%;
		text-align: center;

		div.img-container {	
			display: inline-block;
			width: 250px;
			height: 250px;
			overflow: hidden;
			position: relative;
			margin-bottom: 20px;


			.overlay {
				z-index: 10;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 250px;
				height: 250px;
				cursor: pointer;

				h2 {
					margin: 0;
					color: white;
					font-weight: 800px;
					line-height: 250px;
				}

				h5 {
					color: white;
					margin:-60px;
				}
			}


			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				cursor: pointer;
			}
		}

	}


}

/************************************************************

================== 		BLOG       ==========================

*************************************************************/
.pixel-overlay, .page-background, .page-background-overlay{
	height: 600px;
}
body.Blog-page, body.Contact-page {

	.page-background-overlay {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0.4;
		background: turquoise - 120;
	}

	.page-background {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-filter: grayscale(100%);
		background-image: url("../assets/imgs/typewriter.jpg");
		opacity: 0.8;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 0%;
		width: 100%;
	}

	.front-page {
		position: relative;
		width: 100%;
		height: 100%;

		div {
			text-align: center;
			font-size: 2.4em;
		}
	}

	.content-within-default {
		color: white;
		padding-top: 30px;
	}


	a {
		text-decoration: none;
		color: orange;
	}

	.page {
		position: absolute;
		top: 600px;
		width: 100%;
		left: 0;
		color: black;
		background: white;

	}
}

body.Blog-page {
	.blog-content {
		width: 94%;
    	padding: 3%;

    	.blog-post {
    		font-size: 1.2em;
    		margin-bottom: 80px;

    		.post-title {
    			display: block;
    			width: 100%;
    			font-size: 2em;
    			font-weight: 800;
    			color: $color5;
    			font-family: 'Josefin Sans';
    		}

    		header {
    			padding-bottom: 30px;
    		}

    		.calendar-icon {
				position: absolute;
				width: 24px;
			}

			time {
				padding-left: 35px;
			}

    		.entry {
    		
    		}
    	}
	}
}

.post {
	width: 94%;
	padding: 3%;

	.calendar-icon {
		position: absolute;
		width: 24px;
	}

	time {
		font-size: 1.2em;
		padding-left: 35px;
	}

	.post-title {
		display: block;
		width: 100%;
		font-size: 2em;
		font-weight: 800;
		color: $color5;
		font-family: 'Josefin Sans';
	}

	.blog-content {
		font-size: 1.3em;

		.entry {

		}		
	}


}

/************************************************************

================== 		CONTACT       ==========================

*************************************************************/

body.Contact-page {

	.page-background-overlay {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0.4;
		background: rgb(30, 100, 80);
	}

	.page-background {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-filter: grayscale(100%);
		background-image: url("../assets/imgs/globe.jpg");
		opacity: 0.8;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 80% 30%;
		width: 100%;
	}

	.front-page {
		position: absolute;
		top: 0;
		left: 0;
	}

	.front-page div {
		position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	}

	.page {
		width: 100%;
	}

	.main-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		background: $color4;
		color: white;


		.contact-info {
			text-align: center;
			span {
				font-size: 1.5em;
			}
			h2 {
				font-size: 2em;
			}
		}

		.contact-form {
			text-align: center;
			h2 {
				font-size: 2em;
			}

			$textbox-width: 280px;
			input, textarea {
				font-family: 'Josefin Sans';
				border: none;
				margin: 0 auto;
				display: block;
				width: $textbox-width;
			}

			input, textarea{
				width: $textbox-width - 20px;
				height: 50px;
				padding-left: 10px;
				padding-right: 10px;
				font-size: 1.5em;
				margin: 20px auto;
			}

			textarea {
				height: 200px;
			}

			input:focus, textarea:focus {
				outline: none;
			}

			input.submit {
				width: $textbox-width;
			}

			input.submit:hover {
				background: $color3;
				cursor: pointer;
				color: white;
			}

		}
		
	}

}





@media only screen and (min-width: $mobile) {
	.page-background, .page-background-overlay, .pixel-overlay, #home-background, #home-background-overlay {
		height: 100%;
	}

	body.Blog-page, body.Contact-page {
		.page {
			top: 100%;
		}
	}
	

	.front-page {
		#name-animation {
			height: 140px;
			top: 50%;
		}

		.caption {
			top: 65%;
			animation: load-caption 1.5s ease-in;
		}
	}

	header .main-navigation {
		.link-container {
			transform: translateY(20%);
			max-width: 450px;
			.nav-container {
				margin: 25px;
			}
		}
	}

	body.Home-page {
		background-size: 1000px;


		.content-container {
			top: 100%;
		}
	}

	body.Contact-page {
		.main-content .contact-form {
			input, textarea {
				width: 80%;
				max-width: 600px;
			}

			input.submit {
				width: 84%;
				max-width: 620px;

			}
		}	
	}
}



@media only screen and (min-width: $tablet) {

	header.main-header {
		
	}

	#menu-button {
		display: none;
	}

	header .main-navigation {
		left: 0;
		float: right;
		height: $header-height;
		border-bottom: 2px solid rgb(200, 244, 244);

	}

	header .main-navigation {


		.link-container {
			transform: translateY(0);
			max-width: 1000px;

			.nav-container {
				border: 0;
				margin: 0;
				height: $header-height;
				width: 100px;

			}

			.page-icon {
				height: 30px;
				width: 30px;
				top: 30%;
				left: 50%;
			}

		}

	}

	.Home-page {

		.about-page, .what-do-page {
			display: flex;
			flex-direction: row;
			text-align: center;

			div.about-me, div.what-do {
				min-height: 150px;
				flex: 1;
				height: 25vw;

			}

			div.img-container {
				height: 25vw;
				flex: 1;

				img {
					height: 25vw;
				}

				h1 {
					line-height: 25vw;
				}

			}
		}

		.what-do-page {
			.img-container {
				order: 2;

				img {
					order: 2;
				}
			}
		}



	}


	.front-page {
		#name-animation {
			height: 170px;
			top: 55%;
		}

		.caption {
			top: 65%;
		}
	}

	body.Blog-page {

		.page {
			width: 100%;
		}

		.front-page {
		    position: absolute;
		    height: 100%;
		    width: 100%;
		    top: 0;
		    left: 0;

			div {
				position: absolute;
			    left: 50%;
			    top: 50%;
			    transform: translate(-50%, -50%);
			}
		}

	}


}

@media (max-height: $mobile) {
	header .main-navigation {
		.link-container {
			width: 100%;
		    position: absolute;
		    top: -70px;
		    left: 15%;

		    .nav-container {
		    	margin: 10px;
		    }
		}
	}
	
}




