/************************************************************

================== MAIN NAVIGATION ==========================

*************************************************************/


body {
	padding-top: $header-height;
	margin: 0;
	font-family: $font1;
	// background: rgb(255,252,233);
	overflow-x: hidden;

	h1 {
		font-family: "Josefin Slab";
	}
}

// body {
// 	h1, h2, h3, h4, h5, h6, a, p{
// 		font-family: arial;
// 	}
// }

header.main-header {
	z-index: 1000;
	display: block;
	width: 100%;
	height: $header-height;
	position: fixed;
	top: 0;
	background: $color5;
	transition: top 0.2s ease-in-out, background 0.2s ease-in-out;

	#site-logo img {
		position: fixed;
		height: $header-height - 10px;
		top: 5px;
		left: 10px;
		height: 60px;
		width: 60px;
	}

}


$menu-width: 40px;
$menu-line-height: 8px;
#menu-button {
	z-index: 20000;
	display: inline-block;
	position: fixed;
	cursor: pointer;
	top: 14px;
	right: 14px;
	transition: transform 0.1s ease-in-out;


	div {
		height: $menu-line-height;
		width: $menu-width;
		background: white;
		margin-top: $menu-line-height;
		margin-bottom: $menu-line-height;
		border-radius: 15%;
	}


	#top-line {
		margin-top: 0;
		transition: height 0.2s ease-out, background 0.2s ease-in;

		#top-line1 {
			position: absolute;
			height: 0;
			width: $menu-width;
			background: white;
			margin: 0;
			transition: transform 0.2s ease-in-out, height 0.2s ease-in-out;
		}

		#top-line2 {
			position: absolute;
			height: 0;
			width: $menu-width;
			background: white;
			margin: 0;
			transition: transform 0.2s ease-in-out, height 0.2s ease-in-out;
		}
	}

	#mid-line {
		transition: height 0.2s ease-in-out, background 0.2s ease-in;
		
	}

	#btm-line {
		transition: height 0.2s ease-in-out, background 0.2s ease-in;
		margin-bottom: 0;
		
	}
}

.menu-active {

	#menu-button {
		#top-line {
			border:2px solid white;
		}
	}

	#menu-button {
		div {
			background: $color5;
		}
	}

	.slide-in {
		transition: left 0.5s cubic-bezier(1,0.55,0.55,1);
	}

	.main-navigation {
		top: 0;
	}

}


.menu-inactive {
	
}



#menu-button:hover #top-line {

	div#top-line1, div#top-line2{
		background: lightblue;
	}

}


.main-navigation {
	position: fixed;
	transition: top 0.2s ease-in-out;
	display: block;
	height: 100%;
	width: 100%;
	z-index: 100;
	background: $color5;
	left: 100%;
	font-family: "Josefin Sans";
	text-align: center;

}

.menu-active .main-navigation {
	left: 0;
	top: 0;
}

header .main-navigation {

	.link-container{

		display: block;
		max-width: 300px;
		text-align: center;
		margin: 0 auto;
		height: 100%;
		transform: translateY(25%);

		.page-icon {
			position: absolute;
			height: 50px;
			width: 50px;
			background-size: contain;
			display: inline-block;
			top: 40%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.nav-container {
			position: relative;
			height: 120px;
			width: 120px;
			margin: 5px;
			display: inline-block;
			border: 4px solid white;
		}

		.nav-container:hover {
			cursor: pointer;
			background: $color3;
		}

		a {
			position: absolute;
			display: block;
			width: 100%;
			color: white;
			text-decoration: none;
			bottom: 10%;
		}

		a.redirect {
			line-height: $header-height;
			width: 100%;
			height: 100%;
		}

		.Home-nav-container{
			.page-icon {
				background-image: url("../assets/icons/home-icon.svg");
			}
		}	

		.Work-nav-container{
			.page-icon {
				background-image: url("../assets/icons/work-icon.svg");
			}
		}

		.Contact-nav-container{
			.page-icon {
				background-image: url("../assets/icons/contact-icon.svg");
			}
		}

		.Blog-nav-container{
			.page-icon {
				background-image: url("../assets/icons/blog-icon.svg");
			}
		}



	}


}

/************************************************************

==================   FOOTER        ==========================

*************************************************************/




/************************************************************

==================   FRONT PAGE      ==========================

*************************************************************/
$home-background-color: rgb(35, 140, 130);

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}


@keyframes load-caption {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
		

	}
}

@keyframes diagonal-drop {
	0% {
		transform: translate(-100vw, -100vh);
	}

	100% {
		transform: translate(0, 0);
	}
}



#home-background, .pixel-overlay, #home-background-overlay {
	height: 600px;
}

#home-background {
	background: url("../assets/imgs/me3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 80% 50%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.pixel-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAIYYWKampr/r1+/DuaDCZAATBIkgVslurEAVUoMBlzzw4sAAAAASUVORK5CYII=);
}


.pace-done #home-background-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: $home-background-color;
	opacity: 0.6;
	animation: diagonal-drop 1s ease-in-out;
}

.pace-running {
	#name-animation {
		display: none;
	}
}

.pace-done {
	.front-page {
		#name-animation {
			display: block;
			position: absolute;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 100px;
		}


		.caption {
			position: absolute;
			text-align: center;
		    display: block;
		    width: 100%;
		    top: 55%;
		    left: -10px;
			font-weight: 800;
			animation: load-caption 3s ease-in-out;
			color: white;
		}

	}
}



.Home-page {
	width: 100%;
	height: 1500px;

	.content-container {
		position: absolute;
		top: 600px;
		left: 0;
		width: 100%;
	}

	.content {
		width: 100%;
	}

	.about-page, .what-do-page {
		color: white;
		display: flex;
		flex-direction: column;
	
		

		div.about-me, div.what-do {
			width: 100%;
			display: flex;
			align-items: center;
			min-height: 300px;
			color: black;
			background: rgb(230, 230, 230);


			p {
				font-family: 'Josefin Sans';
				margin-left: 15px;
				margin-right: 15px;
			}
		}

		.img-container {
			flex: 1;
			display: flex;
			height: 100px;
			width: 100%;
			transition: background 0.5s ease-in-out;
			background: $color5;
			

			img {
				height: 100px;
				flex: 1;
			}

			h1 {
				font-family: 'Josefin Slab';
				margin: 0;
				color: white;
				line-height: 100px;
				flex: 2;
			}
		}

		h1 {
			margin: 20px;
			text-align: center;
		}				
	}

	.what-do-page {
		.img-container {
			img {
				order: 2;
			}
		}
	}

	.recent-post {
		background: rgb(230, 230, 230);	

		div.date {
			height: 20px;
			position: relative;

			img {
				width: 20px;
			}

			time {
				position: absolute;
				transform: translateY(-5px);
				left: 25px;
				top: 6px;
			}
		}
	}

	.featured-work, .recent-post {
		margin-top: -1px;

		.heading {
			height: 100px;
			background: $color4;
			color: white;
			text-align: center;

			h1 {
				margin: 0;
				line-height: 100px;
			}
		}

		.projects {
			display: flex;
			flex-direction: column;
			align-items: center;

			.project {
				flex: 1;
				display: flex;
				flex-direction: column;
				width: 100%;
				text-align: center;
				padding-top: 20px;
				padding-bottom: 20px;
				border-bottom: 2px solid $color4;
				background: rgb(230, 230, 230);

				.title {
					text-decoration: none;
					font-size: 1.5em;
					color: $color4;
					margin: 15px;
				}

				a.img-container {
					img {
						margin: auto;
						height: 100px;
						max-height: 150px;
						max-width: 200px;
					}
				}	

				.info {
					padding: 20px;
		
					h3 {
						margin: 15px;
						font-weight: 800;
						color: $color4;
						span {

						}

						a {
							color: $color5;
						}
					}
				}
			
			}

			.project:last-child {
				border: none;
			}
		}



		.blog-content {
			padding: 15px;

			header {
				margin-top: 20px;
				margin-bottom: 20px;
			}

			.blog-title {
				font-size: 1.4em;
				color: $color4;
				text-decoration: none;
			}

			.blog-post {
				padding-top: 20px;
				padding-bottom: 20px;

				.entry {
					border-left: 2px solid $color4;
					padding-left: 10px;

					a {
						text-decoration: none;
						color: $color4;
					}
				}
			}	

		}

	}

}







/************************************************************

================== PORTFOLIO       ==========================

*************************************************************/

body.Work-page {
	#menu-button {
		div {
			
		}
	}
}


.portfolio {
	$thumbnail-size: 30vw;
	$background-color: rgb(230, 230, 230);
	.projects {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: $background-color;

		
		.project {
			width: 100%;
			display: flex;
			flex-direction: column;
			text-align: center;
			margin-bottom: 40px;

			h3.visit-page {
				background: $color5;
				display: inline-block;
				padding: 10px;
				padding-left: 20px;
				padding-right: 20px;

				a {
					color: white;
					text-decoration: none;	
				}
				
			}

			h3.visit-page:hover{
				background: $color4;
			}

			.small-info {
				margin: 0;
				margin-bottom: 10px;
				padding-right: 15px;
				padding-left: 15px;
				display: inline-block;
				font-size: 1.1em;
			}

			.info {
				flex: 1;
				padding-left: 15px;
				padding-right: 15px;

				h3 {
					font-size: 1.6em;
					font-weight: 800;
					margin: 10px;
				}


				.summary {
					
				}
			}

			.thumbnail {
				flex: 1;
				display: flex;
				margin: auto;
				flex-direction: column;

				img {
					margin-left: 50px;
					margin-right: 50px;
					height: $thumbnail-size;
					max-height: 150px;
					max-width: 200px;
					padding: 20px;
				}

				div {
					margin-bottom: 30px;

					.title {
						font-weight: 800;
						color: black;
					}
					h3 {
						font-weight: 800;
					}	
				}
			}
		}

		.project:nth-child(even) {
			background: white;
		}
	}

}


/*
==================  SINGLE PROJECT PAGE =====================
*/

.single-project {

	.info {
		padding: 15px;
		min-height: 400px;

		h1 {
			color: $color4;
			text-align: center;
			padding: 10px;
			font-weight: 800;
		}

		h3 {
			text-align: center;
			font-size: 1em;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		h3.summary {
			text-align: left;
		}

	}

	.thumbnail {
		text-align: center;
		img {
			height: 30vw;
			margin-top: 30px;
			margin-bottom: 30px;
			max-height: 120px;
		}
	}

	.visit-page {

		text-align: center;
		background: $color5;
		padding: 5px;
		margin: 50px auto;
		width: 100px;
		height: 100px;
		position: relative;
		border-radius: 50%;

		a {
			text-height: 100%;
			text-decoration: none;
			color: white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}		
	}

	.visit-page:hover {
		background: $color4;
	}


	.write-up {
		background: rgb(230, 230, 230);
		padding-bottom: 20px;

		h3 {
			background: $color4;
			color: white;
			font-size: 1.6em;
			text-align: center;
			margin: 0;
			padding: 5px;
		}

		h3.summary {
			
		}

		.main-content {
			padding: 15px;

		}

		
	}


}



/************************************************************

================== 		BLOG       ==========================

*************************************************************/
.pixel-overlay, .page-background, .page-background-overlay{
	height: 600px;
}

.pace-done .page-background-overlay{
	animation: diagonal-drop 1s ease-in-out;
}


body.Blog-page, body.Contact-page {

	.page-background-overlay {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0.4;
		background: $home-background-color;
	}

	.page-background {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-filter: grayscale(100%);
		background-image: url("../assets/imgs/typewriter2.jpg");
		opacity: 0.8;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 0%;
		width: 100%;
	}

	.front-page {
		position: relative;
		width: 100%;
		height: 100%;

		div {
			text-align: center;
			font-size: 2.4em;
		}
	}

	.content-within-default {
		color: white;
		padding-top: 30px;
	}


	a {
		text-decoration: none;
		color: orange;
	}

	.page {
		position: absolute;
		top: 600px;
		width: 100%;
		left: 0;
		color: black;
		background: white;

	}
}

body.Blog-page {
	.blog-content {
		width: 94%;
    	padding: 3%;

    	.blog-post {
    		font-size: 1.2em;
    		margin-bottom: 80px;

    		.post-title {
    			display: block;
    			width: 100%;
    			font-size: 2em;
    			font-weight: 800;
    			color: $color5;
    			font-family: 'Josefin Sans';
    		}

    		header {
    			padding-bottom: 30px;
    		}

    		.calendar-icon {
				position: absolute;
				width: 24px;
			}

			time {
				padding: 5px;
				padding-left: 35px;
			}

    		.entry {
    		
    		}
    	}
	}
}

.post {
	width: 94%;
	padding: 3%;

	.calendar-icon {
		position: absolute;
		width: 24px;
	}

	time {
		font-size: 1.2em;
		padding-left: 35px;
	}

	.article {
		margin-bottom: 100px;
	}

	.post-title {
		display: block;
		width: 100%;
		font-size: 2em;
		font-weight: 800;
		color: $color5;
		font-family: 'Josefin Sans';
	}

	.blog-content {
		font-size: 1.3em;

		.entry {

		}		
	}


}

/************************************************************

================== 		CONTACT       ==========================

*************************************************************/

body.Contact-page {

	.page-background-overlay {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0.4;
		background: $home-background-color;
	}

	.page-background {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-filter: grayscale(100%);
		background-image: url("../assets/imgs/globe2.jpg");
		opacity: 0.8;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 80% 30%;
		width: 100%;
	}

	.front-page {
		position: absolute;
		top: 0;
		left: 0;
	}

	.front-page div {
		position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	}

	.page {
		width: 100%;
	}

	.main-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		background: $color5;
		color: white;


		.contact-info {
			text-align: center;
			span {
				font-size: 1.5em;
			}
			h2 {
				font-size: 2em;
			}
		}

		.contact-form {
			text-align: center;
			h2 {
				font-size: 2em;
			}

			$textbox-width: 280px;
			input, textarea {
				font-family: 'Josefin Sans';
				border: none;
				margin: 0 auto;
				display: block;
				width: $textbox-width;
			}

			input, textarea{
				width: $textbox-width - 20px;
				height: 50px;
				padding-left: 10px;
				padding-right: 10px;
				font-size: 1.5em;
				margin: 20px auto;
			}

			textarea {
				height: 200px;
			}

			input:focus, textarea:focus {
				outline: none;
			}

			input.submit {
				width: $textbox-width;
			}

			input.submit:hover {
				background: $color3;
				cursor: pointer;
				color: white;
			}

		}
		
	}

}

body.Contact-page {
	.main-footer {
		background: $color5;
	}
}

footer.main-footer {
	height: $header-height*1.5;
	background: $color5;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	div {
		margin-left: 30px;
		margin-right: 30px;

		img {
			height: 40px;
		}
	}
}





@media only screen and (min-width: $mobile) {
	.page-background, .page-background-overlay, .pixel-overlay, #home-background, #home-background-overlay {
		height: 100%;
	}

	body.Blog-page, body.Contact-page {
		.page {
			top: 100%;
		}
	}
	
	.pace-done {
		.front-page {
			#name-animation {
				height: 130px;
				top: 50%;
			}

			.caption {
				top: 65%;
			}
		}
	}

	header .main-navigation {
		.link-container {
			transform: translateY(20%);
			max-width: 450px;
			.nav-container {
				margin: 25px;
			}
		}
	}

	body.Home-page {
		background-size: 1000px;


		.content-container {
			top: 100%;
		}
	}

	body.Contact-page {
		.main-content .contact-form {
			input, textarea {
				width: 80%;
				max-width: 600px;
			}

			input.submit {
				width: 84%;
				max-width: 620px;

			}
		}	
	}
}



@media only screen and (min-width: $tablet) {

	header.main-header {
		
	}

	#menu-button {
		display: none;
	}

	header .main-navigation {
		left: 0;
		float: right;
		height: $header-height;
		border-bottom: 2px solid rgb(200, 244, 244);

	}

	header .main-navigation {


		.link-container {
			transform: translateY(0);
			max-width: 1000px;

			.nav-container {
				border: 0;
				margin: 0;
				height: $header-height;
				width: 100px;

			}

			.page-icon {
				height: 30px;
				width: 30px;
				top: 30%;
				left: 50%;
			}

		}

	}

	.Home-page {

		.about-page, .what-do-page {
			display: flex;
			flex-direction: row;
			text-align: center;

			div.about-me, div.what-do {
				min-height: 150px;
				flex: 1;
				height: 25vw;

			}

			div.img-container {
				height: 25vw;
				flex: 1;

				img {
					height: 25vw;
				}

				h1 {
					line-height: 25vw;
				}

			}
		}

		.what-do-page {
			.img-container {
				order: 2;

				img {
					order: 2;
				}
			}
		}

		.featured-work {
			.projects {
				flex-direction: row;
				.project {
					border: none;
					.info {

					}
				}

				.project:last-child {
					border-right: none;
				}
			}

		}



	}

	.pace-done {
		.front-page {
			#name-animation {
				height: 160px;
				top: 55%;
			}

			.caption {
				top: 65%;
			}
		}
	}

	body.Blog-page {

		.page {
			width: 100%;
		}

		.front-page {
		    position: absolute;
		    height: 100%;
		    width: 100%;
		    top: 0;
		    left: 0;

			div {
				position: absolute;
			    left: 50%;
			    top: 50%;
			    transform: translate(-50%, -50%);
			}
		}

	}


	body.Work-page {

		.portfolio {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			.projects {
				.project {
					margin: 0;
					padding-top: 20vh;
					height: 80vh;
					width: 100%;
					flex-direction: row;
					justify-content: center;
					align-items: center;

					.thumbnail {
						flex: 1;
						img {
							height: 12vw;
							margin: auto;
							max-height: 30vw;
							max-width: 50%;
						}
					}

					.info {
						flex: 1;
					}
				}

				.project:nth-child(even) {
					.thumbnail {
						order: 2;
					}
				}
			}
		}

	}

	.single-project {
		position: absolute;
		padding-top: $header-height*1.5;
		top: 0;
		left: 0;

		.info {
			width: 50%;
			margin: auto auto;
			min-height: 80vh
		}

		.write-up {
			h3 {
				font-size: 2em;
				padding: 15px;
			}

			.main-content {
				display: inline-block;
				width: 60%;
				padding: 30px;
				margin-left: 15px;
			}

			.visit-page {
				display: inline-block;
				margin: 0;
				margin-left: 10%;
			}

			.visit-page:hover {
				cursor: pointer;
			}
		}


	}


}

@media (max-height: $mobile) {
	header .main-navigation {
		.link-container {
			width: 100%;
		    position: absolute;
		    top: -70px;
		    left: 15%;

		    .nav-container {
		    	margin: 10px;
		    }
		}
	}
	
}




