<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.title }}-page">

    {% include header.html %}

      <div class="content-within-default">
        {{ content }}
      </div>

    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ relative }}/assets/js/scrollingHeader.js"></script>
    <script src="{{ relative }}/assets/js/typeAnimation.js"></script>
  	<script src="{{ relative }}/assets/js/app.js"></script>
  </body>

</html>
