---
layout: default
---
<div id="home-background"></div>
<div id="home-background-overlay"></div>
<div class="pixel-overlay"></div>
<div class="{{ page.title }}-page">

	<div class="front-page">
		
		<div>
			<img id="name-animation" src="../assets/imgs/animated-name.gif"/>
	<!-- 	<video id="name-animation" src="../assets/imgs/name-animation.mp4" autoplay>
			  Sorry, your browser doesn't support embedded videos, 
			  but don't worry, you can <a href="videofile.webm">download it</a>
			  and watch it with your favorite video player!
			</video> -->
			<h3 class="caption">and I like making things.</h3>
		</div>

	</div>

	<div class="content-container">
		<div class="content">{{ content }}</div>
	</div>

</div>

