---
layout: default
---
<!-- <div class="page-background"></div>
<div class="page-background-overlay"></div>
<div class="pixel-overlay"></div> -->
<div class="page">
	<article class="portfolio">
		<div class="projects">
		{% for project in site.categories.project %}
			<div class="project">
				<div class="thumbnail">
					<a href="{{ project.url }}"">
						{% if project.thumbnail %}
						<img src="{{ project.thumbnail }}"/>
						{% else %}
						<h2><strong>{{ project.title }}</strong></h2>
						{% endif %}
					</a>
					<div>
						<h1><a class="title" href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></h1>
						<h3 class="small-info">Tech Tools: <span>{{ project.tools }}</span></h3>
						<h3 class="small-info">Category: {{ project.type }}</h3>
					</div>
				</div>
				<div class="info">
					<h3>Description: </h3>	
					<p class="summary">{{ project.summary }} </p>
					{% if project.pageurl %}
					<h3 class="visit-page"><a target="_blank" href="{{ project.pageurl }}">Visit Page</a></h3>
					{% else %}
					<h3 class="visit-page"><a target="_blank" href="{{ project.github }}">Visit Github</a></h3>
					{% endif %}
				</div>
			</div>
		{% endfor %}
		</article>
	</div>
</div>
