---
layout: default
---
<!-- <div class="page-background"></div>
<div class="page-background-overlay"></div>
<div class="pixel-overlay"></div> -->
<div class="page">
	<article class="portfolio">
		<div class=" categories">
		{% for category in page.categories %}
			<div class="category {{ category.class }}">
				<h2>{{ category.type }}</h2>
				<div class="projects">
					{% for project in category.projects %}
					<div class="project">
						<p>{{ project.title }}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
		</div>
	</article>
</div>
