---
layout: default
---

<div class="page">
	<article class="portfolio">
		<div class="projects">
		{% assign sorted_projects = site.categories.project | sort:"date" %}
		{% for project in sorted_projects reversed%}
			<div class="project">
				<div class="thumbnail">
					<a href="{{ project.url }}"">
						{% if project.thumbnail %}
						<img class="bounce" src="{{ project.thumbnail }}"/>
						{% else %}
						<h2><strong>{{ project.title }}</strong></h2>
						{% endif %}
					</a>
					<div>
						<h1><a class="title" href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></h1>
						<h3 class="small-info">Tech Tools: <span>{{ project.tools }}</span></h3>
						<h3 class="small-info">Category: {{ project.type }}</h3>
					</div>
				</div>
				<div class="info">
					<h3>Description: </h3>	
					<p class="summary">{{ project.summary }} </p>
					<div class="links">
						<a href="{{ project.url }}"><h3 class="visit-page">Details</h3></a>
						{% if project.pageurl %}
						<a target="_blank" href="{{ project.pageurl }}"><h3 class="visit-page">Visit Project</h3></a>
						{% else %}
						<a target="_blank" href="{{ project.github }}"><h3 class="visit-page">Visit Github</h3></a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
		</article>
	</div>
</div>
