---
layout: default
---

<div class="single-project">
	<div class="info">
		<h1> {{ page.title }} </h1>
		<div class="thumbnail">
			<img src="/{{ page.thumbnail }}" />
		</div>
		<h3> <strong>Category: {{ page.type }}</strong></h3>
		<h3><strong>Summary: </strong></h3>
		<h3 class="summary">{{ page.summary }}</h3>
	</div>
	{% if page.demo %}
	<div class="demo">
		<h3>Demo</h3>
	</div>
	{% endif %}
	<div class="write-up">
		<div>
			<h3> The Story </h3>
		<div>
		<div class="main-content"><p> {{ page.content }} </p></div>
		<div class="secondary-navigation">
				{% for project in site.categories.project %}
			        {% if project.url == page.url %}
			            {% assign post_index0 = forloop.index0 %}
			            {% assign post_index1 = forloop.index %}
			        {% endif %}
			    {% endfor %}
			    {% for project in site.categories.project %}
			        {% if post_index0 == forloop.index %}
			            {% assign next_post = project.url %}
			            {% assign next_post_title = project.title %}
			        {% endif %}
			        {% if post_index1 == forloop.index0 %}
			            {% assign prev_post = project.url %}
			            {% assign prev_post_title = project.title %}
			        {% endif %}
			    {% endfor %}
				{% if next_post %}
					<a class="next point-right" href="{{ next_post}}"><h5>{{ next_post_title }}</h5><img src="/assets/icons/next-arrow.svg"/></a>
				{% endif %}
				<div class="visit-page">
					{% if page.pageurl %}
					<h2><a href="{{ page.pageurl }}">Visit Project</a> </h2>
					{% else %}
					<h2><a href="{{ page.github }}">Visit Github</a> </h2>
					{% endif %}
				</div>
				{% if prev_post %}
				    <a class="prev point-left" href="{{ prev_post }}"><img src="/assets/icons/prev-arrow.svg"/><h5>{{ prev_post_title }}</h5></a>
				{% endif %}
		</div>
	</div>

</div>